body {
  background-color: RGB(185,170,150);
}
h1 {
  color: SlateBlue;
  text-align: center;
margin: 20px;
border: 2px solid Tomato;
padding: 10px;
  background-color: MediumSeaGreen;
}
p {
  text-align: center;
  margin: 10px;

}
