body {
  background-color: powderblue;
}
h1 {
  color: MediumSeaGreen;
  text-align: center;
  font-size: 200%;
}
p {
  color: Orange;
  text-align: center;
}
button {
  color: Orange;
  text-align: center;
  margin: 30px;
}
